.logo-container {
    display: flex;
    flex-direction: column; /* Para empilhar o texto e a imagem */
    align-items: center;    /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #444;
    background-image: url('/imagens/armazem.jpeg');
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 70px; 
    
}

.logo-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(16, 43, 68, 0.7); /* Cor de fundo com transparência */
    z-index: 0;
}

.logo-container > * {
    position: relative;
    z-index: 1;
}

.logo-container h2 {
    font-size: 28px;
    margin: 0;
    line-height: 1;
    /* Garante melhor alinhamento vertical */
}

#logoIts {
    width: 100px;
    height: auto;
    border-radius: 4px;
    object-fit: contain;
    background: #102b44;
    margin-right: -28px;
    margin-left: 46px;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 240px;
    background-color: #102b44;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    position: relative; /* Para empilhar conteúdo corretamente */
}


.menu {
    margin-bottom: 10px;
}

.menu-title {
    cursor: pointer;
    padding: 10px 15px;
    margin: 5px 0;
    background-color: #34495e;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.menu-title:hover {
    background-color: #1abc9c;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    color: #fff;

}

.menu-title::after {
    content: '▶';
    transition: transform 0.3s ease;
}

.menu-title.open::after {
    transform: rotate(90deg);
}

.menu-title.open {
    background-color: #16a085;
    color: white;
}


.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid #1abc9c;
}

.submenu.active {
    max-height: 200px;
    /* Ajuste conforme a quantidade de itens */
}

.submenu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    background-color: #3d566e;
    border-radius: 4px;
    transition: background-color 0.2s, transform 0.2s;
}

.submenu a:hover {
    background-color: #1abc9c;
    transform: translateX(5px);
}

.content {
    flex: 1;
    background-color: #ecf0f1;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

body.login-page {
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    background-color: #2c3e50;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    color: white;
    width: 320px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    border-bottom: 1px solid #1abc9c;
    padding-bottom: 10px;
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.login-container input:focus {
    outline: none;
    box-shadow: 0 0 5px #1abc9c;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #1abc9c;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #16a085;
}

#error-msg {
    margin-top: 10px;
    color: #e74c3c;
}

.logout-btn {
    width: 100%;
    padding: 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logout-btn:hover {
    background-color: #c0392b;
}

#usuarioLogado {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 320px;
    padding: 10px;
    background-color: #3d566e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: white;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: auto;

}

.user-box {
    background-color: #34495e;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    width: 92%;
}

.imagem-usuario {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 5px auto;
    margin-top: 10px;
}

.nome-usuario {
    color: white;
    font-size: 14px;
    font-weight: bold;
}